<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="kr.ac.ers.repository.ApplyFileMapper">


	<select  id="selectApplyFileByAfNo" resultType="ApplyFileVO">
		select * 
		from applyfile 
		where id = #{id}
	</select>
	
	<insert id="insertApplyFile">
		insert into 
		applyfile (afno, uploadpath, filename, filetype, id, manid)
		values (applyfile_seq.nextVal, #{uploadpath}, #{filename},#{filetype},#{id},#{manid})
	</insert>
	
	





</mapper>