<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="kr.ac.ers.repository.EcallMapper">
	<select id="selectEcallListById" parameterType="String" resultType="EcallVO">
		select * from ecall
		where id=#{id}
	</select>
	
	<select  id="selectEcallCount" resultType="Integer">
		select count(*)
		from ecall
		where id=#{id}		
	</select>
	
	
	<insert id="insertEcall" parameterType="EcallVO">
		insert into
		ecall(cnum, id, name, relation, phone)
		values(#{cnum},#{id},#{name},#{relation},#{phone})
	</insert>
	
	<select id="selectEcallSequenceNextValue" resultType="Integer"> <!-- sequence 뽑아내서 등록 시, 사용? -->
		select ecall_seq.nextVal
		from dual
	</select>
	
	<update id="updateEcall" parameterType="EcallVO">
		update ecall
		set name=#{name},relation=#{relation},phone=#{phone}
		where id=#{id} and cnum=#{cnum} 
	</update>
	
	
	
</mapper>