<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="kr.ac.ers.repository.EsupporterMapper">
	
	<sql id="search">	
		<if test="cri.searchType == 'n'.toString()">
			and m.name like '%'||#{cri.keyword}||'%'			
		</if>
		<if test="cri.searchType == 'nbg'.toString()">
			and (
			m.name like '%'||#{cri.keyword}||'%'
			or
			m.birth like '%'||#{cri.keyword}||'%'		
			or
			m.gender like '%'||#{cri.keyword}||'%'	
			)
		</if>
		<if test="cri.searchType == 'nrv'.toString()">
			and (
			m.name like '%'||#{cri.keyword}||'%'
			or
			r.regdate like '%'||#{cri.keyword}||'%'
			or
			r.viewcheck like '%'||#{cri.keyword}||'%'
			)
		</if>
		<if test="cri.searchType == 'nrvf'.toString()">
			and (
			m.name like '%'||#{cri.keyword}||'%'
			or
			r.regdate like '%'||#{cri.keyword}||'%'
			or
			r.viewcheck like '%'||#{cri.keyword}||'%'
			<!-- 
			or
			파일첨부
			 -->
			)
		</if>
		<if test="cri.searchType == 'b'.toString()">
			and m.birth like '%'||#{cri.keyword}||'%'			
		</if>
		<if test="cri.searchType == 'g'.toString()">
			and m.gender like '%'||#{cri.keyword}||'%'			
		</if>
		<if test="cri.searchType == 'r'.toString()">
			and m.reType like '%'||#{cri.keyword}||'%'			
		</if>
		<if test="cri.searchType == 'rd'.toString()">
			and m.regDate like '%'||#{cri.keyword}||'%'			
		</if>	
		<if test="cri.searchType == 'vc'.toString()">
			and m.viewCheck like '%'||#{cri.keyword}||'%'			
		</if>		
	</sql>
	
	<select id="esupporterStateChange" resultType="int" parameterType="String">
		select count(*) from emergency 
		where reportcheck = 'N'
		and wid = #{wId}
	</select>
	
	<select id="emergencyDispatchNotification" resultType="EmergencyVO" parameterType="String">
		select e.scode, e.stype as sType, e.occurtime as occurTime, e.confirmcheck as confirmCheck, e.reportcheck as reportCheck, e.id as id, e.wid as wId,
			   m.name as name, m.birth as birth, m.address as address, m.phone as phone, m.caution as caution, m.pacemaker as pacemaker, m.equipment as equipment,
			   m.memtype as memType, m.gender as gender
		  from emergency e, member m
		 where e.id = m.id
		 and e.reportcheck = 'N'
		   and e.wId = #{wId}
	</select>
	
	<update id="checkEmergencyDispatchNotification" >
		update emergency
		set reportCheck = #{reportCheck}
		where sCode = #{sCode}
	</update>
	
	<select id="selectEsupportByWId" resultType="EsupporterVO" parameterType="String">
		select f.wcode, f.name, f.birth, f.phone, f.picture, f.wtype, f.gender, f.email, e.wId, e.status, e.pwd, e.cnum
		  from fieldstaff f , esupporter e
		 where f.wcode = e.wcode
		   and wId = #{wId}
	</select>
	
	<select id="selectDispatchList" resultType="DispatchVO" >
		select e.sCode, e.sType, e.occurTime, m.address, m.pacemaker, m.name, r.redone, r.viewcheck, e.wId, r.rno, e.id
		  from emergency e
	 left join report r
			on e.scode = r.scode
	inner join member m
			on e.id = m.id
			<include refid="search"/>
		   and e.wid = #{wId}
	</select>
	
	<select id="selectDispatchDetail" resultType="DispatchVO" parameterType="int">
		select e.sCode, e.sType, e.occurTime, m.address, m.pacemaker, m.name, r.redone, r.viewcheck, e.wId, r.rno, e.id
		  from emergency e
	 left join report r
			on e.scode = r.scode
	inner join member m
			on e.id = m.id
		   and e.sCode = #{sCode}
	</select>
	
	<select id="selectFireCount" resultType="int" parameterType="String">
		select count(*)
		  from emergency
		 where stype = '3'
		   and occurtime <![CDATA[>=]]> TO_DATE(sysdate, 'YY/MM/DD')
  		   and occurtime <![CDATA[<]]> TO_DATE(SYSDATE+1, 'YY/MM/DD')
	</select>
	
	<select id="selectEmergencyCount" resultType="int" parameterType="String">
		SELECT COUNT(*)
		  FROM emergency
		 WHERE (stype = '1' OR stype = '2' OR stype = '3' OR stype = '4' OR stype = '5')
		   AND wid = #{wId}
		   AND occurtime <![CDATA[>=]]> TO_DATE(sysdate, 'YY/MM/DD')
  		   AND occurtime <![CDATA[<]]> TO_DATE(SYSDATE+1, 'YY/MM/DD')
	</select>
	
	<select id="selectDispatchCount" resultType="int" parameterType="String">
		SELECT COUNT(*)
		  FROM emergency
		 WHERE wid = #{wId}
		   AND occurtime <![CDATA[>=]]> TO_DATE(sysdate, 'YY/MM/DD')
  		   AND occurtime <![CDATA[<]]> TO_DATE(SYSDATE+1, 'YY/MM/DD')
	</select>
	
	<select id="selectGatewayStockCount" resultType="int" parameterType="int">
		select count(*) from machine m, center c
		 where m.cnum = c.cnum
		   and m.mstatus = '재고'
		   and m.mcode = 'M01'
		   and c.cnum = #{cnum}
	</select>
	
	<select id="selectActivityDetectorStockCount" resultType="int" parameterType="int">
		select count(*) from machine m, center c
		 where m.cnum = c.cnum
		   and m.mstatus = '재고'
		   and m.mcode = 'M02'
		   and c.cnum = #{cnum}
	</select>
	
	<select id="selectDoorDetectorsStockCount" resultType="int" parameterType="int">
		select count(*) from machine m, center c
		 where m.cnum = c.cnum
		   and m.mstatus = '재고'
		   and m.mcode = 'M03'
		   and c.cnum = #{cnum}
	</select>
	
	<select id="selectFireDetectorStockCount" resultType="int" parameterType="int">
		select count(*) from machine m, center c
		 where m.cnum = c.cnum
		   and m.mstatus = '재고'
		   and m.mcode = 'M04'
		   and c.cnum = #{cnum}
	</select>
	
	<select id="selectEmergencyReportList" resultType="EmergencyReportVO">
		select r.rno as rNo, r.regdate as regDate, r.id as id, r.wcode as wCode, r.redone as reDone, r.viewcheck as viewCheck, r.retype as reType,
			   r.occurtime as occurTime, r.occurtype as occurType, r.callcheck as callCheck, m.name as name, m.address as address
		  from report r, member m
		 where r.id = m.id
		 <include refid="search"/>
		   and r.retype = '1'
		   and r.wcode= #{wCode}
		 order by r.regDate desc
	</select>
	
	<select id="selectEmergencyReportCount" resultType="int">
		select count(*)
		  from report r, member m
		 where r.id = m.id
		 <include refid="search"/>
		   and r.retype = '1'
		   and r.wcode= #{wCode}
	</select>
	
	<select id="selectEmergencyReportDetail" resultType="EmergencyReportVO" parameterType="int">
		select r.rno, r.regdate, r.content, r.id, r.wcode, r.redone, r.viewcheck, r.retype, r.occurtime, r.occurtype, r.callcheck, m.name, m.address
		  from report r, member m
		 where r.id = m.id
           and r.retype = '1'
		   and rno = #{rNo}
	</select>
	
	<select id="selectEquipmentReportList" resultType="EquipmentReportVO">
		select r.rno, r.regdate, r.content, r.id, r.wcode, r.redone, r.viewcheck, r.retype, r.occurTime, r.occurtype, r.callcheck, s.mnum, s.mstatus, m.name, m.address
		from report r, selectmachine s, member m
		where r.rno = s.rno
		<include refid="search"/>
        and r.id = m.id
        and r.retype = '7'
		and r.wcode= #{wCode}
	</select>
	
	<select id="selectEquipmentReportCount" resultType="int">
		select count(*)
		from report r, selectmachine s, member m
		where r.rno = s.rno
		<include refid="search"/>
        and r.id = m.id
        and r.retype = '7'
		and r.wcode= #{wCode}
	</select>
	
	<select id="selectEquipmentReportDetail" resultType="EquipmentReportVO">
		select r.rno, r.regdate, r.content, r.id, r.wcode, r.redone, r.viewcheck, r.retype, r.occurTime, r.occurtype, r.callcheck, s.mnum, s.mstatus, m.name, m.address
		from report r, selectmachine s, member m
		where r.rno = s.rno
		and r.id = m.id
		and r.rno = #{rNo}
	</select>
	
	<select id="selectMemberNameSearch" resultType="MemberNameSearchVO" >
		select e.scode, e.stype, e.occurtime, e.reportcheck, e.id, e.wid, m.name, m.gender, m.birth, m.picture
		  from emergency e, member m
		 where e.id = m.id
		 and e.reportcheck = 'Y'
		   <include refid="search"/>
		   and e.wid = #{wId}
	</select>
	
	<select id="selectMemberNameSearchCount" resultType="int">
		select count(*)
		  from emergency e, member m
		 where e.id = m.id
		   and e.reportcheck = 'Y'
		   <include refid="search"/>
		   and e.wid = #{wId}
	</select>
	
	<select id="selectDayEmergencyReport">
	
	</select>
	
	<select id="selectDayEquipmentReport">
	
	</select>
	
	<select id="selectEmergencyOccurTime" resultType="EmergencyVO" parameterType="int">
		select occurtime from emergency where scode = #{sCode}
	</select>
	
	<select id="selectReportSequenceNextValue" resultType="int">
		select report_seq.nextVal
		from dual
	</select>
	
	<update id="insertEquipmentReport" parameterType="EquipmentReportVO">
		insert into report(rNo,regDate,content,id,wCode,reDone,viewCheck,reType,occurType,callCheck)
		values(#{rNo},#{regDate},#{content},#{id},#{wCode},#{reDone},#{viewCheck},#{reType},#{occurType},#{callCheck})
	</update>
	
	<update id="insertEmergencyReport" parameterType="EmergencyReportVO">
		insert into report(rNo,content,id,wCode,reDone,viewCheck,reType,occurType,callCheck)
		values(#{rNo},#{content},#{id},#{wCode},#{reDone},#{viewCheck},#{reType},#{occurType},#{callCheck})
	</update>
	
	<update id="updateEsupporterStatus" parameterType="int">
		update esupporter
		   set status = '대기중'
		 where wcode = #{wCode}
	</update>
	
	<update id="updateMemberEId" parameterType="String">
		<![CDATA[
      UPDATE member
      SET eid = NULL
      where id = #{id}
    ]]>
	</update>
	
	<select id="">
		select * from member me , machine ma
		 where me.id = ma.id
		   and me.id = #{id}
	</select>
	
</mapper>