<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="kr.ac.ers.repository.ManagerReportMapper">


	<select  id="selectReportByCriteria" resultType="ReportVO">
		select r.*, f.name, f.wtype
		from report r, fieldstaff f
		where
		r.wcode = f.wcode
		<if test="reType != null and reType != ''.toString()">
		and reType=#{reType}
		</if>
		<if test="start_day != null and start_day != ''.toString()"> 
		and regDate between TO_DATE(#{start_day}, 'YYYY-MM-DD') and TO_DATE(#{end_day}, 'YYYY-MM-DD')
		</if>
		and id=#{id}
		order by regDate desc
	</select>


	<select id="selectSearchMemberReportCount" resultType="Integer">
		select count(*)
		from report
		where
		id=#{id}
		<if test="reType != null and reType != ''.toString()">
		and reType=#{reType}
		</if>
		<if test="regDate != null and reType != ''.toString()"> 
		and regDate between #{start_day} and #{end_day}
		</if>
	</select>

	<select id="selectReportByRno" resultType="ReportVO">
		select r.*, f.name, f.wtype, m.name as m_name
		from report r, fieldstaff f , member m
		where r.wcode = f.wcode and r.id = m.id
        and rno=#{rno}
	</select>

	<update id="updateViewCheck">
		update report
		set viewcheck='1'
		where rno=#{rno}
	</update>


	<select id="selectReportListToMain" resultType="ReportVO">
		select r.*, f.name, f.wtype
		from report r, fieldstaff f
		where r.wcode = f.wcode
		and viewcheck='0'
		order by regDate desc
	</select>

	<select  id="selectReportFileByRno" resultType="ReportFileVO">
		select * 
		from reportfile
		where rno = #{rno}
	</select>

	<select  id="selectMemberReportCount" resultType="Integer">
		select count(*) as totalcount 
		from report 
		where retype!=6 and viewcheck=0
	</select>
	
	
	<select  id="selectMachineReportCount" resultType="Integer">
		select count(*) as totalcount 
		from report 
		where retype=6 and viewcheck=0
	</select>
	
	
	<select id="selectReportListToReportMain" resultType="ReportVO">
		select r.*, f.name, f.wtype
		from report r, fieldstaff f
		where
		r.wcode = f.wcode
		<if test="cri.reType != null and cri.reType != ''.toString()">
		and reType=#{cri.reType}
		</if>
		<if test="cri.start_day != null and cri.start_day != ''.toString()"> 
		and regDate between TO_DATE(#{cri.start_day}, 'YYYY-MM-DD') and TO_DATE(#{cri.end_day}, 'YYYY-MM-DD')
		</if>
		<if test="viewcheck != null and viewcheck != ''.toString()">
		and viewcheck=#{viewcheck}
		</if>
		order by regDate desc
	</select>
	
	
	<!-- <select  id="selectReportByViewCheck" resultType="ReportVO">
		select r.*, f.name, f.wtype
		from report r, fieldstaff f
		where
		r.wcode = f.wcode
		<if test="reType != null and reType != ''.toString()">
		and reType=#{reType}
		</if>
		<if test="start_day != null and start_day != ''.toString()"> 
		and regDate between TO_DATE(#{start_day}, 'YYYY-MM-DD') and TO_DATE(#{end_day}, 'YYYY-MM-DD')
		</if>
		<if test="viewcheck != null and viewcheck != ''.toString()">
		and viewcheck=#{viewcheck}
		</if>
		order by regDate desc
	</select> -->
	
	
	
	
	


</mapper>