<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="kr.ac.ers.repository.ManagerMachineMapper">

	<select id="selectStockList" resultType="ManagerMachineVO">
		select l.lnum,l.name l_name ,c.name c_name,d.dongname ,count(case when m.mcode='M01' then 1 end) as gateway,
		count(case when m.mcode='M02' then 1 end) as activesensor, count(case when m.mcode='M03' then 1 end)as doorsensor,
		count(case when m.mcode='M04' then 1 end) as firesensor
		from local l, center c, machine m, dong d
		where l.lnum=m.lnum and c.cnum=m.cnum and d.dongcode = c.dongcode
		<if test="gu != null and gu != ''.toString() ">
			and l.name=#{gu}		
		</if>
		<if test="dong != null and dong != ''.toString()">
			and dongname=#{dong}		
		</if>
		and m.mstatus = '재고'
		group by c.name, l.name, l.lnum, d.dongname
		order by l.lnum
	</select>
	
	
	
	<select id="selectSearchStockListCount" resultType="Integer">
		select count(*)
			from
			(
				select l.lnum,l.name l_name ,c.name c_name,d.dongname ,count(case when m.mcode='M01' then 1 end) as gateway,
				count(case when m.mcode='M02' then 1 end) as activesensor, count(case when m.mcode='M03' then 1 end)as doorsensor,
				count(case when m.mcode='M04' then 1 end) as firesensor
				from local l, center c, machine m, dong d
				where l.lnum=m.lnum and c.cnum=m.cnum and d.dongcode = c.dongcode
				<if test="gu != null and gu != ''.toString() ">
					and l.name=#{gu}		
				</if>
				<if test="dong != null and dong != ''.toString()">
					and dongname=#{dong}		
				</if>
				and m.mstatus = '재고'
				group by c.name, l.name, l.lnum, d.dongname
				order by l.lnum
			)
	</select>
	
	
	<select id="selectASPerWeek" resultType="ManagerMachineVO">
	WITH ISO AS
    (
	    SELECT
	        TO_CHAR(WEEK_START, 'yyyy-mm-dd') AS WEEK_START,
	        TO_CHAR(WEEK_END, 'yyyy-mm-dd') AS WEEK_END,
	        TO_CHAR(WEEK_START, 'WW') AS WEEK_OF_YEAR_ISO,
	        TO_CHAR(WEEK_START, 'W') AS WEEK_OF_MONTH
	    FROM
    	   (
	        SELECT
	            TRUNC(START_DT + LEVEL, 'D') AS WEEK_START,
	            TRUNC(START_DT + LEVEL, 'D') + 6 AS WEEK_END
	        FROM
	           (
	            SELECT
	                TO_DATE('2000-01-01', 'yyyy-mm-dd') - 1 AS START_DT,
	                TO_DATE('2023-12-31', 'yyyy-mm-dd') AS END_DT
	            FROM DUAL
	           )
       		<![CDATA[CONNECT BY LEVEL <= END_DT - START_DT]]>
		    )
		    GROUP BY WEEK_START, WEEK_END
		    ORDER BY WEEK_START
			)
			SELECT
			    c.name AS c_name, c.cnum,
			    COUNT(m.mnum) AS asRequestCnt,
			    TO_DATE(WEEK_START, 'YYYY-MM-DD') AS WEEK_START,
			    TO_DATE(WEEK_END, 'YYYY-MM-DD') AS WEEK_END
			FROM ISO a, machine m, center c
			WHERE m.assend BETWEEN TO_DATE(WEEK_START, 'YYYY-MM-DD') AND TO_DATE(WEEK_END, 'YYYY-MM-DD')
			    AND m.cnum = c.cnum
			GROUP BY WEEK_START, WEEK_END, c.name, c.cnum
			ORDER BY WEEK_START ASC
	</select>
	
	
	<select  id="selectASListPerWeekBycNum" resultType="ManagerMachineVO">
		 select 
		 c.name c_name,m.mNum,mc.name mc_name,m.assend
		 from machine m, center c, machinecode mc
		 where m.cnum = c.cnum and assend between #{week_start} and #{week_end}
		 and m.mcode=mc.mcode and c.cnum=#{cnum}
		 group by c.name ,m.mNum,mc.name ,m.assend
		 order by m.assend desc
	</select>
	
	
	<select id="selectTotalCount" resultType="ManagerMachineVO">
		select count(*) totalcount, count(case when mcode='M01' then 1 end)as gateway,
		count(case when mcode='M02' then 1 end)as activesensor, count(case when mcode='M03' then 1 end)as doorsensor,
		count(case when mcode='M03' then 1 end)as firesensor
		from machine
		where mstatus='재고'
	</select>
	
	<select  id="selectMachineListByMcode" resultType="ManagerMachineVO">
		select m.* ,mc.name mc_name
		from machine m, machinecode mc
		where m.mcode = mc.mcode
		<if test="mcode != null and mcode != ''.toString()">
		and m.mstatus='재고' and m.mcode=#{mcode}
		</if>
	</select>		




</mapper>