.div-border{
	border: 1px solid;
}

.text--center {
	margin: 0 auto;
	font-family: 'MinSans-Regular';
}

.picture-container {
  margin-bottom: 20px;
}

.manPicture {
  border: 1px solid green;
  height: 200px;
  width: 140px;
  margin: 0 auto;
  margin-bottom: 5px;
}

table.type03 {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-left: 3px solid #369;
  margin : 20px 10px;
}

table.type03 th {
  width: 147px;
  padding: 10px;
  font-weight: bold;
  font-size: 1.75rem;
  vertical-align: middle;
  text-align: center;
  color: #153d73;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

table.type03 td {
  width: 349px;
  padding: 10px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

@font-face {
    font-family: 'MinSans-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.tableHeadFont{
	font-family: 'MinSans-Regular';
	font-size: 2rem;
}

.buttons{
	text-align: end;
	margin-right: 50px;
}

.buttonLeft{
	margin-right: 80%;
}

.input-width{
	width: 100%;
	font-family: 'SpoqaHanSansNeo-Regular';
	text-align: center;
	font-size: 1.75rem;
}